# Package
Manifest.toml

# Julia compiled / cache
*.ji
*.o
*.obj
*.so
*.dylib
*.dll
.julia/

# Local preferences
LocalPreferences.toml
JuliaLocalPreferences.toml

# Training Results & Datasets
/training_data/
/models/*
!/models/Lyra1.0.jld2

# Data & cache ( project specific )
/data/
/scratch/
deps/cache/

# Documentation
docs/build/
docs/site/

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local
.env.production
.env.development