app/assets/* linguist-vendored
public/* linguist-vendored
*.jl.html linguist-language=HTML
* text=auto
*.sh text eol=lf
*.conf text eol=lf

public/js/genie/ansi_up.js linguist-vendored
public/js/genie/prism.js linguist-vendored
public/js/genie/static.js linguist-vendored
public/css/genie/style.css linguist-vendored